.demo-logo-vertical {
  padding: 10px 0;
}
.logo {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  transition: transform 0.3s;
  overflow: hidden;
}

.logo.collapsed {
  transform: scale(0.7);
}

.social-menu-link--container {
  display: flex;
  justify-content: space-between;
  opacity: 1;
  width: 100%;
  transition: opacity 0.2s;
}

.social-menu-link--container.collapsed {
  opacity: 0;
}

.social-menu-link {
  display: block;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}

.social-menu--wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px 25px;
  width: 100%;
  max-width: 200px;
}
