.app-header {
  background-color: #fcfcfc;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  padding: 5px 25px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.user-info--container {
  display: flex;
  align-items: center;
}

.user-avatar {
  background-color: #87d068;
  margin-left: 10px;
  cursor: pointer;
}
